@page {
  size: A4;
  margin: 0;
}

body {
  background-color: #fff;
}

.resume .container {
  color: #0f92ff;
  background-color: #fff;
  padding: 25px 40px;
  -webkit-box-shadow: 0px 2px 5px gray;
          box-shadow: 0px 2px 5px gray;
}

.resume .container .main {
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  line-height: 20px;
}

.resume .container .main .header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 1fr;
      grid-template-columns: 4fr 1fr;
}

.resume .container .main .header .name {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #444;
  text-transform: uppercase;
  color: #111;
  font-size: 32px;
  margin: 10px 0 7px 0;
  margin-bottom: 0;
  padding-top: 20px;
}

.resume .container .main .header .info .contact .intro {
  margin-bottom: 0;
}

.resume .container .main .header .info .contact .intro h4 {
  font-size: 18px;
  margin-bottom: 0;
}

.resume .container .main .header .info .contact .address {
  margin: 10px auto;
  margin-top: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resume .container .main .header .info .contact .address .col {
  display: block;
  color: #222;
  margin: 10px 0;
  margin-top: 0;
  font-size: 16px;
}

.resume .container .main .header .info .contact .address .col div {
  margin: 10px 0;
}

.resume .container .main .header .info .contact .address .col a {
  text-decoration: none;
  color: #222;
}

.resume .container .main .header .info .contact .address .col .fa {
  color: #0f92ff;
}

.resume .container .main .header .dp img {
  height: 120px;
  width: 120px;
  margin: 20px auto;
  border: 4px solid #0f92ff;
  border-radius: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.resume .container .main .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 2fr;
      grid-template-columns: 3fr 2fr;
  grid-column-gap: 3rem;
}

.resume .container .main .wrapper .section-header {
  padding: 10px 0;
  border-bottom: solid 3px #0f92ff;
  margin-bottom: 0px;
  margin-top: 15.5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #444;
  text-transform: uppercase;
}

.resume .container .main .wrapper .summary {
  color: #444;
}

.resume .container .main .wrapper .summary .summary-body {
  font-size: 15px;
  line-height: 20px;
}

.resume .container .main .wrapper .skills {
  color: #444;
}

.resume .container .main .wrapper .skills .section-header {
  margin-bottom: 10px;
}

.resume .container .main .wrapper .skills ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.resume .container .main .wrapper .skills .skill-group {
  padding: 10px 0px;
  margin-bottom: 7px;
  border-bottom: dashed 0.1em #ddd;
}

.resume .container .main .wrapper .skills .skill-group .skill-item {
  display: inline-block;
  padding: 10px 0;
  margin: auto 0.5rem;
  font-size: 16px;
  border-bottom: solid 0.1rem #bbb;
}

.resume .container .main .wrapper .strengths .strengthlists .strengthlist {
  list-style-type: none;
  padding-left: 0;
  color: #444;
  margin-top: 5px;
}

.resume .container .main .wrapper .strengths .strengthlists .strengthlist .strength {
  padding: 10px 0;
  line-height: 24px;
  font-weight: bold;
}

.resume .container .main .wrapper .strengths .strengthlists .strengthlist .strength .fa {
  color: #0f92ff;
}

.resume .container .main .wrapper .strengths .strengthlists .strengthlist .strength .fa::after {
  content: "  ";
  padding-right: 3px;
}

.resume .container .main .wrapper .online .social-links .sociallist {
  list-style-type: none;
  padding-left: 0;
  margin-top: 5px;
}

.resume .container .main .wrapper .online .social-links .sociallist .social {
  border-bottom: dashed 0.1em #ddd;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 13% auto;
      grid-template-columns: 13% auto;
  padding: 10px 0;
}

.resume .container .main .wrapper .online .social-links .sociallist .social:last-child {
  border-bottom: none;
}

.resume .container .main .wrapper .online .social-links .sociallist .social .icon {
  padding: 2px 5px;
  font-size: 22px;
}

.resume .container .main .wrapper .online .social-links .sociallist .social .link {
  color: #444;
  margin-left: 10px;
  font-size: 15px;
  font-weight: bold;
  line-height: 18px;
}

.resume .container .main .wrapper .online .social-links .sociallist .social .link a {
  display: block;
  font-weight: normal;
  color: #666;
  text-decoration: none;
  font-size: 12px;
}

.resume .container .main .wrapper .education .educations {
  list-style-type: none;
  padding-left: 0;
}

.resume .container .main .wrapper .education .educations .education-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 8fr 2fr;
      grid-template-columns: 8fr 2fr;
}

.resume .container .main .wrapper .education .educations .education-item .education-details .item-title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #444;
  padding: 0;
  margin: 0;
}

.resume .container .main .wrapper .education .educations .education-item .education-details .institute,
.resume .container .main .wrapper .education .educations .education-item .education-details .duration {
  margin: 0;
  padding: 0;
}

.resume .container .main .wrapper .education .educations .education-item .grade {
  color: #666;
  text-align: center;
  padding: 10px 0;
  margin-top: 10px;
}

.resume .container .main .wrapper .education .educations .education-item .grade #left-border-item {
  margin: 0;
  padding: 0;
  padding-left: 12px;
  border-left: solid 0.5px #444;
}

.resume .container .main .wrapper .education .educations .education-item .grade #left-border-item .gpa {
  padding: 0;
  margin: 0;
}

.resume .container .main .wrapper .education .educations .education-item .grade #left-border-item .point {
  font-weight: bolder;
  color: #0f92ff;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

.resume .container .main .wrapper .education .educations .education-item .grade #left-border-item .point .total-point {
  color: #666;
}

.resume .container .main .wrapper .projects .projectslists .projectslist {
  list-style-type: none;
  padding-left: 0;
}

.resume .container .main .wrapper .projects .projectslists .projectslist .projectitem {
  border-bottom: dashed 0.1em #ddd;
  padding-bottom: 12px;
  margin-top: 10px;
}

.resume .container .main .wrapper .projects .projectslists .projectslist .projectitem:last-child {
  border-bottom: none;
}

.resume .container .main .wrapper .projects .projectslists .projectslist .projectitem .project {
  color: #444;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.resume .container .main .wrapper .projects .projectslists .projectslist .projectitem .project .project-title {
  padding: 0;
  margin: 2px;
}

.resume .container .main .wrapper .projects .projectslists .projectslist .projectitem .project .link {
  font-size: 12px;
  margin: 0;
}

.resume .container .main .wrapper .projects .projectslists .projectslist .projectitem .project .link .fa {
  color: #0f92ff;
}

.resume .container .main .wrapper .projects .projectslists .projectslist .projectitem .project .link a {
  text-decoration: none;
  color: #444;
}

.resume .container .main .wrapper .projects .projectslists .projectslist .projectitem .project .description {
  font-size: 12px;
}

.resume .container .main .wrapper .projects .projectslists .projectslist .projectitem .project .description p {
  margin: 0;
}

.resume .container .main .wrapper .achievements .achievements-items .achievementlist {
  list-style-type: none;
  padding-left: 0;
  margin-top: 2px;
}

.resume .container .main .wrapper .achievements .achievements-items .achievementlist .achivement {
  border-bottom: dashed 0.1em #ddd;
  padding: 10px 0;
  color: #444;
  font-weight: bold;
  font-size: 14px;
}

.resume .container .main .wrapper .achievements .achievements-items .achievementlist .achivement:last-child {
  border-bottom: none;
}

.resume .container .main .wrapper .achievements .achievements-items .achievementlist .achivement .icon {
  padding: 2px 5px;
  font-size: 20px;
  color: #0f92ff;
}

@media print {
  .resume html,
  .resume body {
    width: 210mm;
    height: 297mm;
  }
}

.resume .preview {
  padding: 40px;
}

.resume .preview .preview-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.resume .preview .preview-header .preview-heading {
  display: inline-block;
  text-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 80%;
}

.resume .preview .print-preview {
  overflow: auto;
  background-color: #666;
  padding: 10px 0;
}

.resume .preview .print-preview .preview-container {
  width: 210mm;
  height: 297mm;
  margin: auto;
}

@media (max-width: 768px) {
  .main-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=index.css.map */